.card {
    width: 100px;
    border: 2px solid gray;
    padding: 20px;
    margin: 15px;
    box-shadow:  0 0 5px 1px #888;
    flex-direction: row;
    align-items: center;
}

.card img {
    width: 70%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }

body {
    background-color: #EDC7B8 !important;

}

