.abortion {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}
.card {
 width: 100px;
 border: 2px solid gray;
 padding: 20px;
 margin: 15px;
 box-shadow:  0 0 5px 1px #888;

}
body {
    background-color: #EDC7B8 !important;

}

.contra {
    overflow: scroll;
}

.contra-label   {
    color: #FEA478;
    padding: 5px;
    margin: 10px;
    background-color: #ffffff;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
}
    box-sizing: border-box;
    padding: 40px;
}
